.bigheading{
    font-size: 80px;
    padding: 130px 10px 30px 10px;
    color: #020f4a;
}

.small{
    font-size: 11px !important;
}


.abouticon{
    font-size: 100px;
}


.doctoricon{
    font-size: 140px;
}